*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.carousel-item {
    background-color: black;
    color: white;
}

.carousel-item img {
    opacity: 0.6;

}

.discover-title-width {
    width: 60%;
}

/* .paragraph-ellipsis{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
} */




@media only screen and (min-width: 768px) and (max-width: 992px) {
    .discover-title-width {
        width: 75%;
    }

    .discover-card-title {
        font-size: 30px;
    }

    .discover-card-text {
        font-size: 20px;
    }

    .discover-card-text-price {
        font-size: 20px;
    }
    .paragraph-ellipsis{
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    } 
   

}

@media only screen and (min-width: 577px) and (max-width: 769px) {


    .card-width{
    max-width: 100%;
    
    }

    .discover-title-width {
        width: 95%;
    }

    .discover-card-title {
        font-size: 32px;
    }

    .discover-card-text {
        font-size: 27px;
    }

    .discover-card-text-price {
        font-size: 27px;
    }

    .paragraph-ellipsis{
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    } 

}

@media only screen and (max-width: 576px) {
    .discover-title-width {
        width: 95%;
    }

    .discover-card-title {
        font-size: px;
    }

    .discover-card-text {
        font-size: 18px;
    }

    .discover-card-text-price {
        font-size: 18px;
    }

    .paragraph-ellipsis{
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    } 
    

}