*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.carousel-item {
    background-color: black;
    color: white;
}

.carousel-item img {
    opacity: 0.6;

}

.discover-title-width {
    width: 60%;
}


.width-title{
    width: 50%;
}

.center-title{
        
    margin: 0 auto;
}




.carousel-control-prevm {
    left: -25px;
}
.carousel-control-nextm {
    right: -25px;
}
.carousel-control-prevm, .carousel-control-nextm{
    position: absolute;
    top: 120px;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 50px;
    height: 50px;
    padding: 9px;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

.width-accordin{
    width: 70%;
    margin: 0 auto;
}






@media only screen and (min-width: 768px) and (max-width: 992px) {
    .discover-title-width {
        width: 75%;
    }

    .discover-card-title {
        font-size: 30px;
    }

    .discover-card-text {
        font-size: 20px;
    }

    .discover-card-text-price {
        font-size: 20px;
    }
    .paragraph-ellipsis{
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    } 

    .width-title{
        width: 80%;
    }
    .center-title{
        
        margin: 0 auto;
    }

    .width-accordin{
        
        width: 100%;
        margin: 0;
    }
   

}





@media only screen and (min-width: 577px) and (max-width: 769px) {


    .card-width{
    max-width: 100%;
    
    }

    .discover-title-width {
        width: 95%;
    }

    .discover-card-title {
        font-size: 32px;
    }

    .discover-card-text {
        font-size: 27px;
    }

    .discover-card-text-price {
        font-size: 27px;
    }

    .paragraph-ellipsis{
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    } 

    .width-title{
       
        width: 80%;
        margin: 0 auto;
        text-align: center;
        
    }
    .width-accordin{
        
        width: 100%;
        margin: 0;
    }

}

@media only screen and (max-width: 576px) {
    .discover-title-width {
        width: 95%;
    }

    .discover-card-title {
        font-size: px;
    }

    .discover-card-text {
        font-size: 18px;
    }

    .discover-card-text-price {
        font-size: 18px;
    }

    .paragraph-ellipsis{
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    } 
    
    .width-title{
       
        width: 80%;
        margin: 0 auto;
        text-align: center;
        
    }

    .width-accordin{
       
        width: 100%;
        margin: 0;
    }

}